body {
  background: #333333;
  color: #DDDDDD;
}
.page_header {
  color: #333333;
}
.post {
  margin-bottom:10px;
}
.post .post-inside{
  background: #666666;
  color:#EEEEFF;
}
.post .post-inside:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.post .post-inside:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.tline {
  font-size: 0.65em;
}
.time {
  font-style:italic;
}
.aggregation .col-sm {
  background: #666666;
}
.aggregation:even .col-sm {
  background: #333333;
  color:#666666;
}
.comment .comment-inside {
  background: #CCCCCC;
  color: #333333;
}
.comment .tline {
  color:#55555;
}
.comment_content {
  font-size:0.9em;
}
.comment {
  margin-bottom: 5px;
}
